<div class="row pt-4">
  <div id="exercise-pane" class="col-sm">
    <!-- Interpolation :      -->
    <h1 class="text-center">{{currentExercise.exercise.title}}</h1>
    <div class="image-container row">
      <!-- Uses property binding to bind the src property of the image to the component model property currentExercise.exercise.image      -->
      <img class="img-fluid col-sm" [src]="'/assets/images/' + currentExercise.exercise.image" />
    </div>
    <div class="progress time-progress row">
      <!-- [attr.aria-valuenow]="exerciseRunningDuration" ... >: Uses ATTRIBUTE BINDING to bind the aria attribute on div to                               exerciseRunningDuration     -->
      <!-- Interpolation :      -->
      <!--  [ngStyle] :  Uses a DIRECTIVE  ngStyle to bind the style property on the progress bar div to an expression that evaluates the                 exercise progress      -->
      <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="exerciseRunningDuration" aria-valuemin="0"
        [attr.aria-valuemax]="currentExercise.duration"
        [ngStyle]="{'width':(exerciseRunningDuration/currentExercise.duration) * 100 + '%'}">
      </div>
    </div>
    <h1>Time Remaining: {{currentExercise.duration-exerciseRunningDuration}}</h1>
  </div>
</div>
